body {
    font-family: sans-serif;
    /* Footer stays at bottom */
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex-grow: 1;
}

h2 {
    text-align: center;
}

#noAccess {
    text-align: center;
}
/*********** Page title + Login button /************/

.page-title {
    text-align: left;
    background-color: black;
    padding: 50px 0;
}

#logo-image {
    float: left;
    width: 75px;
    height: auto;
}

#login-text {
    font-size: 70%;
    font-weight: bold;
    color: white;
}

.login-div {
    background-color: black;
    float: right;
}

.login-div button {
    background-color: transparent;
    border: none;
    padding: 0;
    font-size: 200%;
    color: white;
}

h1 {
    margin: 10px;
    color: white;
}


/*********** Navigation tab/************/

.nav-tab {
    z-index: 100;
    /* bring to the front */
    background-color: black;
    border-bottom: 2px solid white;
    position: fixed;
    top: 0;
    width: 100%;
}


.nav-tab li {
    float: left;
    border-right: 2px solid white;
}

.nav-tab a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-tab ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

.nav-tab a:hover {
    background-color: #b8b8b8;
    color: black;
}

/** Selected page has white text instead of black **/
.selected-page {
    color: #FACCE7 !important;
}


/*********** Search bar and list of users /************/
.search-div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 50%;
}

table th,
table td {
    padding: 10px 10px;
}

table th {
    text-align: left;
}

#users-list {
    list-style-type: none;
    padding: 0;
}

.delete-user-button {
    background-color: transparent;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.edit-user-button {
    background-color: transparent;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;
}

.upgrade-user-button {
    background-color: transparent;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
}

.delete-user-button:hover {
    background-color: #b8b8b8;
}

.edit-user-button:hover {
    background-color: #b8b8b8;
}

.upgrade-user-button:hover {
    background-color: #b8b8b8;
}

/*********** Edit user information form /************/
#edit-user-form {
    margin-bottom: 30px;
}


/*********** Footer/************/
footer {
    background-color: black;
    color: white;
    padding: 20px;
}


.campus {
    text-decoration: underline;
}

.address {
    display: flex;
    flex-wrap: wrap;
}

#north,
#waite,
#roseworthy {
    width: 33.33%;
}

.social-links {
    float: right;
}

.footer-links a {
    color: #FACCE7;
}

.social-links a {
    color: #FACCE7;
}